/*

GR LANDING MAIN CSS Stylesheet
Author: Tat Chow
Date: May 28, 2020

*/

/*
    Table of Contents

    1.0 - Common Selectors
    2.0 - Header Menu/Top Navigation
    3.0 - Buttons
    4.0 - Main Content
    5.0 - Footer
   
*/



/* 1.0 - Common Selectors */

/*
    Table of Contents

    1.0 - Common Selectors
    2.0 - Header Menu/Top Navigation
    3.0 - Buttons
    	3.1 - Tabs
    4.0 - Main Content
    5.0 - Footer
    6.0 - Product Page
    7.0 - Social Widget
    8.0 - Forms
    9.0 - Support Pages
    10.0 - Our Story Pages
    11.0 - Resources Page
    12.0 - Awards Page
    13.0 - Partners Page
    14.0 - Leadership Page
    15.0 - Careers Page
    16.0 - Dropdown Container
    17.0 - News & Events Page
    18.0 - GGP Page
    19.0 - Community Involvement
    20.0 - About Us Page
    21.0 - Data Center Page
    22.0 - Cloud Ecosystem Page
    23.0 - Security
    24.0 - Search Results Page
    25.0 - Contact Us page
    26.0 - Regulatory FAQ page
    27.0 - Policies
    28.0 - Landing Pages
    29.0 - Main Banner - Slick Slide
*/


/* Global Settings*/
@media (min-width: 320px){
	.container,.container-fluid{
		padding-left:0;
		padding-right:0;
	}
	.row{
		padding-left:15px;
		padding-right:15px;
	}
}
@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1170px;
	}
}
/*MIXIN*/



/*SASS variables*/
$home-tab-color:#00B2E4;
$tab-color:#005d87;
$home-main-font-color:#FFFFFF;
$header-color:#DA2426;
$content-font-color:#050505;
$header-blue-color:#005D87;
$orange-btn:#E38710;
$header-hero-font-color:#2a2a2a;
$header-color-dark-red:#BD0000;
$home-product-tab-selected:#FFFFFF;
$home-product-tab:#F9F9F9;
$home-product-border:#CCCCCC;
$green-icon:#00AB78;
$orange-icon:#F66E42;
$blue-icon:#0B86C6;
$yellow-icon:#FA9731;
$red-icon:#BB243D;
$purple-icon:#BB7BB2;
$grey-icon:#CCCCCC;
$footer-font-color:#A2A2A2;
$footer-font-color-highlight:#FFFFFF;
/* 1.0 - Common Selectors */

/*Helvetica, sans-serif;*/

body{
	background-color:#FFF;
	color:$content-font-color;
    font-family: open-sans, sans-serif;
    font-size:15px;
    font-weight:400;
    text-shadow: rgba(0,0,0,0.004) 0 0 1px;
    -webkit-font-smoothing: antialiased;
}
a{
	color:$header-blue-color;
	font-weight:600;
	
}
h1,h2{
	font-weight:200;
	color:$header-color;
	
}
h1,h2,h3{
	
	margin-bottom:30px;
}
h3{
	font-weight:300;
}
h4{
	font-weight:200;
	
	a{
	
		color:#000000;
	}
}
h5{
	
	font-size:18px;
	
}
ul{

}

iframe, object, embed {
        max-width: 100%;
        max-height: 100%;
}
h4.blue{
	
	color:$header-blue-color !important;
	margin-bottom:10px !important;
	
}
h3.sub-header{
	clear:both;
	color:$content-font-color;
	margin-top:20px !important;
}
.italic{
	font-style: italic;
}
.float-none{
    float:none !important;
}
.left{
    float:left !important;
}
.right{
    float:right !important;
}
.display-none{
    display:none;
}
.display-block{
	display:block;
}
.display-inline{
	display:inline-block;
}
.clear-both{
    clear:both;
}
.overflow-hidden{
    overflow:hidden;
}
.no-pad{
	padding:0 !important;
	margin:0 !important;
}
.bold{
    font-weight:bold;
}
.white{
	color:#FFFFFF;
}
.red-font{
	color: $header-color;
}
.bg-light-grey{
	background-color:#EDEDED !important;
}
.icon-red-med{
	color: $header-color;
	font-size:80px;
}
.bold-red{
	color: $header-color;
	font-size:18px;
}
.border-red{
	border-color:$header-color !important;
}
.center{
	text-align:center;
}
.text-left{
	text-align:left !important;
}

button:focus {
    outline:none !important;
    box-shadow:none !important;
}

.btn{
	white-space:normal;
}
#footer-container{
	
	background-color:#333333;
	color:$footer-font-color;
	height:654px;	
	left:0;
	margin-top:30px;
	position:absolute;
	width:100%;
}

section{
	@media only screen and (min-width : 320px) {
		padding:50px 0 0;
	}
	@media only screen and (min-width : 480px) {
	
		padding:50px 100px 0;
		position:relative;
	}
	.divider{
		bottom:0;
		border-bottom:2px solid $header-color;
		margin-top:50px;
		width:100%;
	}
}
.section-hero{
	
	
	@media (min-width: 320px){
		background-repeat: no-repeat;
		background-position:center center;
		background-size: cover;
		height:326px;
		padding:0 -50px;
		position: relative;
		margin-bottom:100px
	}
	@media (min-width: 480px){	
		height:650px;
		margin-bottom:0;		
	}
	
	&:before {
	  content:"";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	}
	
	.hero-content {
	  position: absolute;
	  color: #fff;
	  @media (min-width: 320px){
	  	top:350px;
	  }
	  @media (min-width: 480px){	
		top:179px;
		}
	  
	  h1{
	  	color:$header-hero-font-color;
	  	font-weight:600;
	  }
	}
}

.section-header-message{	
	.center{
		@media (min-width: 320px){
			text-align:left;
		}
		@media (min-width: 480px){	
			text-align:center;
		}
	}
	
	.divider{
		border:5px solid $header-color;
	}
}

.section-category-drop{
	
	.divider{
		margin-top:10px;
	}
	
	.section-content{
		.icon{
			img{
				height:90px;
				width:90px;
			}
		}
		
		.accordion{
		
			width:100%;
		
			.card{
				border:0;
				
				.card-body{
					.content-img{
						img{
							height:146px;
							width:125px;
						}
					}
					.content-title{
						margin:30px 0;
					}
					.content-divider{
						@media (min-width: 320px){
							display:none;
						}
						@media (min-width: 480px){
							display:block;
							border: 2px solid #B8B9B7;
							width:100%;
						}
					}
				}
				
				.card-header{
					background-color:#FFF;
					border-bottom:0;
					padding: 5px 1.25rem 0px;
					
					.btn-link{
						font-weight: 600;
					    color: $content-font-color;
					    text-decoration: none;
					    width: 100%;
					    
					    @media (min-width: 320px){
							text-align:left;
							
						}
						@media (min-width: 480px){	
							text-align:center;
							position:relative;
						}
						
						.display-inline{
								@media (min-width: 320px){
									width:70%;
								}
								@media (min-width: 480px){
									width:100%;
								}
							}
					    
						&::hover {
						    color: $content-font-color;
						    text-decoration: none;
						}
						
						
						.arrow-down{
							
							font-size:25px;
							color:$header-color;
							width: 30%;
						    text-align: right;
						    display: inline-block;
						    
						    @media (min-width: 320px){
								width:30%;
							}
							@media (min-width: 480px){
								width:100%;
								position:absolute;
								bottom:5px;
								right:0;
							}
							
							i{
								transition:.1s;
							}
						}
					
					}
				}
			}
			
			
		}
	
	}
		
}

$faq-numbers:0,1,2,3,4,5,6,7,8,9,10;

#section-faq{
	
	&.section-category-drop{
		.section-content{
			h3{
				font-size:30px;
				font-weight:300;
			}
			
			.accordion{
				
				
				&#faq-dropdown{
					.faq-0{
						
						padding: 0 20px;
						
						@media (min-width: 768px){
							padding:0 0 0 150px;
						}
					}
					
					.card-body{
						padding-left:0;
						padding-right:0;
					}
				}
				.card{
					padding-right:0;
					.card-header{
						
						@each $faq-number in $faq-numbers{
							&#faq-#{$faq-number}{
								.btn-link{
									&[aria-expanded='true']{
										.arrow-down{
											i{
												transform:rotate(180deg);
											}
										}
									}		
									
								}
							}
						}
					
						button{
							padding-right:0;
							position:relative;
							
							img{
								@media (min-width: 320px){	
									display:block;
								}
								@media (min-width: 480px){	
									display:inline;
								}
									height:90px;			
									width:90px;
								
								@media (min-width: 480px){
									float:left;
									margin-right:30px;
								}
							}
							h3{
								@media (min-width: 320px){	
									display:inline-block;
									float:none;
									font-size:20px;
									width:70%
								}
								@media (min-width: 480px){	
									display:inline;
									float:left;
									font-size:30px;
									width:70%;
									text-align:left;
								}
								
								margin-top:30px
							}
							.arrow-down{
								
								@media (min-width: 480px){
									position:absolute;	
									bottom:30px;
									right:0;
								}
							}
						}
					}
				}
				
				#faqQuestions,#faqQuestionsArchive,#faqQuestionsReseller{
				
					&.accordion{
						@media (min-width: 768px){
							padding-left:130px;
						}
					}
					.card{
						.card-header{
							padding-left:0;
							padding-top: 30px;
    						padding-bottom: 7px;
    						padding-right:0;
    						
							.btn-link{
								padding-left:0;
								padding-right:0;
								text-align:left;
								span{
									display:inline-block;
								}
								.arrow-down{
									margin-top:0;
								}
							}
							
							
						}
						
						@each $faq-number in $faq-numbers{
							#faq-#{$faq-number}{
								.btn-link{
									.arrow-down{
										@media (min-width: 480px){
											bottom:0;
										}
									}	
								}
							}
						}
						.card-body{
							padding-left:0;
							padding-right:0;
							@media (min-width: 768px){
								padding-right:80px;
							}
						}
						.divider{
							
							border-bottom:2px solid #CCC;
							width:100%;
						}
					}
				}
			}
		}
	}
	
}

.section-footer-msg{
	
	padding-bottom:50px;
	
	.center{
		@media (min-width: 320px){	
			text-align:left;
		}
		@media (min-width: 480px){	
			text-align:center;
		}
	}
}
